<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/MP3project/src/public/css/style.css">
    <link rel="stylesheet" href="/MP3project/src/public/css/song.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- APlayer CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" />

</head>

<body>
    <div class="container">
        <div class="header">
            <a href="music"><img src="/MP3project/src/public/image/logo.png" class="logo" alt="logo"></a>
            <ul class="main_menu">
                <li><a href="music" target="_parent">Bài Hát</a>
                    <ul class="sub_menu">
                        <li><a href=""><b>Việt Nam</b></a></li>
                        <li><a href=""><b>Âu Mỹ</b></a></li>
                    </ul>
                </li>

                <li><a href="">Playlist</a>
                    <ul class="sub_menu">
                        <li><a href=""><b>Việt Nam</b></a></li>
                        <li><a href=""><b>Âu Mỹ</b></a></li>
                    </ul>
                </li>

                <li><a href="video">Video</a>
                    <ul class="sub_menu">
                        <li><a href=""><b>Việt Nam</b></a></li>
                        <li><a href=""><b>Âu Mỹ</b></a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>



        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Bài Hát</h3>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="0">
                            <img src="https://i.ytimg.com/vi/tPMFAbhlDbU/maxresdefault.jpg" alt="">
                        </a>
                        <h4>3:00 AM</h4>
                        <p>Finding Hope</p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="1">
                            <img src="https://upload.wikimedia.org/wikipedia/en/7/7a/Adele_-_Someone_Like_You.png"
                                alt="">
                        </a>
                        <h4>Someone Like You</h4>
                        <p>Adele</p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="2">
                            <img src="https://avatar-ex-swe.nixcdn.com/song/2018/10/05/c/0/c/6/1538706968018_640.jpg"
                                alt="">
                        </a>
                        <h4>I'll Never Love Again</h4>
                        <p>Lady Gaga</p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="3">
                            <img src="https://i.pinimg.com/originals/61/71/63/617163e0dc995c70496a644549bf2f36.jpg"
                                alt="">
                        </a>
                        <h4>How Long Will I Love You</h4>
                        <p>Ellie Goulding</p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="4">
                            <img src="https://i1.sndcdn.com/artworks-000658413718-3aworm-t500x500.jpg" alt="">
                        </a>
                        <h4>Always Remember Us This Way</h4>
                        <p>Lady Gaga</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="5">
                            <img src="https://avatar-ex-swe.nixcdn.com/song/2020/12/11/4/0/f/e/1607663899280_640.jpg"
                                alt="">
                        </a>
                        <h4>Willow</h4>
                        <p>Taylor Swift</p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="6">
                            <img src="https://newsmd1fr.keeng.net/tiin/archive/images/20200519/090154_stuck_with_u_vua_leo_len_no_1_ariana_grande_va_justin_bieber_bi_to_mua_thanh_tich_2.jpg"
                                alt="">
                        </a>
                        <h4>Stuck with U</h4>
                        <p>Ariana Grande & Justin Bieber</p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="album-poster" data-switch="7">
                            <img src="https://avatar-ex-swe.nixcdn.com/song/2020/07/24/f/6/5/1/1595573654337_640.jpg"
                                alt="">
                        </a>
                        <h4>Exile</h4>
                        <p>Taylor Swift(feat. Bon Iver)</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="aplayer"></div>
        <!-- Jquery Link -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <!-- Bootstrap Link -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- APlayer Jquery link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
        <script src="/MP3project/src/resource/main/song.js"></script>
</body>

</html>