<!DOCTYPE html>
<html>

<head>
    <title>Video</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/MP3project/src/public/css/video.css">
    <link rel="stylesheet" href="/MP3project/src/public/css/style.css">
    <input type="text" name="search" placeholder="Tìm kiếm...">
    
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="index.handlebars"><img src="/MP3project/src/public/image/logo.png" class="logo" alt="logo"></a>
            <ul class="main_menu">
                <li><a href="song.handlebars" target="_parent">Bài Hát</a>
                    <ul class="sub_menu">
                        <li><a href=""><b>Việt Nam</b></a></li>
                        <li><a href=""><b>Âu Mỹ</b></a></li>
                    </ul>
                </li>

                <li><a href="">Playlist</a>
                    <ul class="sub_menu">
                        <li><a href=""><b>Việt Nam</b></a></li>
                        <li><a href=""><b>Âu Mỹ</b></a></li>
                    </ul>
                </li>

                <li><a href="video.handlebars">Video</a>
                    <ul class="sub_menu">
                        <li><a href=""><b>Việt Nam</b></a></li>
                        <li><a href=""><b>Âu Mỹ</b></a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="content">

            <div>
                <video src="/MP3project/src/public/video/illNeverLoveAgain.mp4" controls poster="https://i.ytimg.com/vi/tPMFAbhlDbU/maxresdefault.jpg"></video>
                <h4>I'll Never Love Again</h4>
                <p>Lady Gaga</p>
            </div>
    
            <div>
                <video src="/MP3project/src/public/video/SafeAndSound.mp4" controls poster="https://bayngaymuasam.com/wp-content/uploads/2018/11/safe-and-sound.jpg"></video>
                <h4>Safe And Sound</h4>
                <p>Taylor Swift</p>
            </div>

            <div>
                <video src="/MP3project/src/public/video/Bad Never Looked So Good.mp4" controls poster="https://i.ytimg.com/vi/xoPJu25ZHxM/maxresdefault.jpg"></video>
                <h4>Bad Never Looked So Good</h4>
                <p>The Villains Lair</p>
            </div>

            <div>
                <video src="/MP3project/src/public/video/ThankUNext.mp4" controls poster="https://i.ytimg.com/vi/5OeR5XBEahU/maxresdefault.jpg"></video>
                <h4>Thank U Next</h4>
                <p>Ariana Grande</p>
            </div>

            <div>
                <video src="/MP3project/src/public/video/Tough Love.mp4" controls poster="https://i.ytimg.com/vi/kBF5l9rWQFs/maxresdefault.jpg"></video>
                <h4>Tough Love</h4>
                <p>The Villains Lair</p>
            </div>
            
            

            <div class="clear"></div>
        </div>
        
    </div>

    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementsByClassName("content");
            li = ul.getElementsByTagName("div");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("video")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>


</body>

</html>