@charset "UTF-8";
* {
  /*content (nội dung)
    padding (phần đệm giữa nội dung và đường viền)
    border (đường viền)
    margin (lề)    
    */
  margin: 0;
  padding: 0; }

.body1 {
  font-family: Arial;
  font-size: 14px;
  background-image: url("/MP3project/src/public/image/background.jpg");
  background-size: cover; }

.clearfix {
  clear: both; }

.container {
  height: 100vh;
  width: 100%;
  /*cover:Tự chia tỷ lệ tới kích thước lớn nhất của chiều rộng
     hoặc chiều cao để phù hợp với vùng nội dung*/
  /*background-position: center;*/
  /*Relative: Định vị trí tuyệt đối cho các thành phần,
     không gây ảnh hưởng tới vị trí ban đầu hay các thành phần khác*/
  /*position: relative;*/ }

.header {
  /* width: 100%;*/
  /* margin: auto;*/
  /*padding 4 thành phần: top right bottom left
        padding 3 thành phần: top(right left)bottom
        padding 2 thành phần: (top bottom)(right left)
        padding 1 thành phần:(top right bottom left)*/
  /*padding: 15px 0;*/
  /*display: flex; /* hiển thị*/
  /*align-items: center; /* điều chỉnh vị trí bắt đầu và căn chỉnh các item bên trong
                            container dọc theo trục cross axis
                            stretch | flex-start | flex-end | center | baseline;*/
  /*justify-content:space-around;*/
  border-bottom: #dadada solid 1px;
  /*padding: 6px 0 7px 0;*/ }

.logo {
  width: 60px;
  /* curso hiển thị con trỏ chuột khi duy chuyển con trỏ vào thành phần*/
  cursor: pointer;
  margin-right: 15px;
  margin-left: 150px;
  margin-top: 10px;
  /*opacity:inherit;*/
  float: left; }

.logo img {
  height: 100%;
  width: auto; }

ul.main_menu > li {
  /*có thể dùng .header ul li*/
  list-style: none;
  /*display: inline-block;*/
  margin: 30px 25px;
  float: left; }

ul.main_menu > li > a {
  /* có thể dùng .header ul li a*/
  text-decoration: none;
  /* định dạng trang trí cho chữ(các dòng kẻ qua chữ)*/
  color: #5f5f5f;
  font-size: 25px; }

/* Thay đổi màu liên kết khi di chuột qua */
/*ul#main_menu a:hover {
    background-color:burlywood;
    color:skyblue;
  }*/
ul.main_menu > li a:hover {
  /*background-color:burlywood;*/
  color: skyblue; }

ul.sub_menu {
  width: 250px;
  background: plum;
  height: 100px;
  display: none; }

ul.sub_menu li {
  margin-top: 20px;
  list-style: none;
  margin-right: 30px;
  float: left; }

ul.sub_menu li a {
  text-decoration: none;
  /* định dạng trang trí cho chữ(các dòng kẻ qua chữ)*/
  color: #5f5f5f;
  font-size: 25px;
  display: inline-block;
  line-height: 40px;
  /*text-indent: 10px;*/ }

ul.main_menu li:hover ul.sub_menu {
  display: block; }

.content {
  width: 100%;
  position: absolute;
  /*top được dùng để định vị trí bên trên(top) cho thành phần 
       khi sử dụng thuộc tính position
    */
  top: 30%; }

.right-col {
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center; }

#icon {
  width: 100px;
  cursor: pointer; }

.right-col p {
  font-size: 18px;
  font-weight: 400;
  margin-right: 15px; }
