body {
    background-image: url("/MP3project/src/public/image/background1.jpg");
    background-size: cover;
    font-family: Arial; }
  
  .content {
    margin: 0 150px; }
  
  .content div {
    float: left;
    margin-bottom: 50px; }
  
  video {
    width: 350px;
    margin-right: 100px;
    margin-bottom: 15px; }
  
  p {
    font-size: 15px;
    margin-top: 15px; }
  
  h4 {
    text-transform: uppercase; }
  